
.f {
  position: absolute;
  max-width: 400px;
  width: inherit;
  height: inherit;
  will-change: transform, opacity;
}

.fr,
.ba {
  background-size: cover;
  border-radius: 15px;
  border-style: solid;
  border-width: .5em;
  border-color: black;
}

.new-card {
  display: flex;
  justify-content: space-between;
  background-color: lightyellow;
  border-style: dashed;
  padding: 16px;
  width: 100vw;
}

.card-form{
  align-self: flex-end;
}