.new-deck {
  display: flex;
  justify-content: space-around;
  background-color: lightyellow;
  border-style: dashed;
  padding: 16px;
  width: 100vw;
}

.cover {
  display: flex;
  max-width: 500px;
  max-height: 300px;
  width: 40vw;
  height: 30vh;
  justify-content: flex-start;
  flex-direction: row;
  box-sizing: inherit;
  border-radius: 15px;
  border-style: solid;
  border-width: .5em;
  border-color: black;
  background-color: paleturquoise;
}

.deck-display {
  align-self: flex-start;
}

.deck-form {
  align-self: flex-end;
}

.deck-image {
  width: 25vw;
  height: 30vh;
  align-self: flex-start;
}

img {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* overflow: hidden; */
}

.deck-info {
  display: flex;
  flex-direction: column;
  width: 15vw;
  height: 30vh;
}
