:root {
 --main-bg-color: #59D126;
 --secondary-bg-color: #F9D25E;
}


.deckWrapper {
  position: relative;
  width: 95%;
  margin: auto;
  /* background-color: black; */
  /* overflow: hidden; */
  /* resize: both; */
}
.editBackground {
  color: black;
  z-index: 1;
  height: 100%;
  width: 100%;
}
.saveButton {
  position: 'fixed';
  bottom:'0px'; 
  z-Index:'5'; 
  right:'0';
}