
.deckWrapper {
  position: relative;
  width: 95%;
  margin: auto;
  /* background-color: black; */
  /* overflow: hidden; */
  /* resize: both; */
}
.editBackground {
  color: black;
  z-index: 1;
  height: 100%;
  width: 100%;
}