.landing-page {
  display: flex;
  background: url("https://www.psdgraphics.com/file/fresh-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 95vh;
  padding-top: 5vh;
  padding-left: 30px;
  padding-right: 30px;
}

.landing-image {
  border-radius: 15px;
  width: 500px;
  height: 500px;
}

.landing-left {
  display: flex;
  flex-direction: column;
  width: 50vw;
  padding-top: 150px;
  padding-left: 100px;
}

.landing-right {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 50%;
}

#landing-card {
  align-self: center;
  width: 50vw;
}