.landing-page {
  display: flex;
  background: url("https://i.imgur.com/0NLGQN6.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: -webkit-fill-available;
  padding-top: 5vh;
  padding-left: 30px;
  padding-right: 30px;
}

.landing-top {
  display: flex;
  width: 100%;
  height: 40%;
}

.landing-left {
  width: 50%;
  align-self: center;
}

.landing-right {
  justify-content: center;
  align-self: center;
  width: 50%
}

#landing-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}