.App {
  display: flex;
}
.searchContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;

}

.searchElement {
  display: flex;
  margin: 2%
}