.game-display {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 450px;
  padding-left: 10%;
  padding-right: 10%;
}

.game-info {
  background-color: aquamarine;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 15px;
  box-shadow: 5px 8px rgb(128, 220, 236);
  height: 70%;
  padding-left: 5%;
}

.game-flash-cards {
  display: flex;
  flex-direction: row;
}

.game-test {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.game-memory-match {
}

.game-left-display {
  width: 50%;
}

.game-right-display {
  width: 50%;
}
