.game-display {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 450px;
  padding-left: 15%;
  padding-right: 15%;
}

.game-info {
  background-color: rgb(230, 230, 230);
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 15px;
  box-shadow: 0 10px 15px 0 rgba(0,0,0,.18);
  height: 72%;
  padding-left: 5%;
}

.game-flash-cards {
  display: flex;
  flex-direction: row;
}

.game-test {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.game-memory-match {
}

.game-left-display {
  width: 30%;
  margin-right: 20%;

}

.game-right-display {
  width: 50%;
  margin-right: 2%
}
