.deck-display {
  display: flex;
  width: 100vw;
}

.left-display {
  padding-top: 70px;
  width: 50%;
  padding-left: 15%;
}

.right-display {
  padding-top: 140px;
  width: 50%;
  padding-right: 15%;
  
}

.deck-display-image {
  border-radius: 8px;
  width: 25vw;
  height: 30vh;
  align-self: flex-start;
}

.header-spacing {
  margin-bottom: 5px;
}

.paragraph-spacing {
  margin-bottom: 5px;
  margin-top: 0px;
}