.deck-display {
  display: flex;
  width: 100%;
  height: 480px;
}

.left-display {
  padding-top: 5%;
  width: 50%;
  padding-left: 15%;
}

.right-display {
  padding-top: 10%;
  width: 50%;
  padding-right: 15%;
}

.deck-image {
  border-radius: 8px;
  width: 280px;
  height: 280px;
  align-self: flex-start;
}